body {
    background: #26a69a;
}

h1 {
    text-align: center;
    color: white;
}

h5 {
    color: #26a69a;
}

.delete-item {
    padding: 10px;
}

.accordian {
    text-align: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: rgb(240, 225, 12);
}
  
  /* accordian sections hidden by default */
.more-content {
    padding: 0 18px;
    background-color: rgb(240, 225, 12);
    display: none;
    overflow: hidden;
  }