body {
    background: #26a69a;
}

h1 {
    text-align: center;
    color: white;
}

h5 {
    color: #26a69a;
}

.delete-item {
    padding: 10px;
}

/* accordian div centering */
.accordian {
    text-align: center;
}

/*style button better */
.see-more {
    background-color: white;
    width: 100%;

}

/* adds a background color for when button is hovered over as well as when JS toggles to active*/
.active, .see-more:hover {
    background-color: rgb(240, 225, 12);
}
  
/* accordian sections hidden by default 
use off-left technique instead of display none since display none
can mess with screen readers*/
.more-content {
    padding: 0 18px;
    background-color: white;
    left: -9999px;
    position: relative;
    overflow: hidden;
  }

